INSTALL
Makefile
Makefile.in*
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/blankon-panel.desktop
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
po/*gmo
src/Makefile
src/*.c
src/.deps
src/.libs
src/*.o
*swp
vapi/*deps
deps
ltmain.sh
missing
mkinstalldirs
po/POTFILES
data/manokwari.desktop
po/stamp-it
src/manokwari
src/manokwari_vala.stamp
stamp-h1
