@define-color bg_color #00001e;
@define-color fg_color #f2f2f2;
@define-color window_desc_bg_color #4e70b0;
@define-color window_desc_fg_color #00001e;

PanelWindowList,
PanelWindowHost,
GtkMenuItem,
GtkMenu,
GtkMenuBar,
PanelMenuBox {
    color: @fg_color;
    background-color: @bg_color;
}



PanelWindowDescription {
    color: @window_desc_fg_color;
    background-color: @window_desc_bg_color;
    height: 12;
}

MenuItem:hover,
PanelItem:hover {
    background-color: #243188;
}


PanelItem {
    background-color: @bg_color;
}

PanelWindowEntry:selected,
PanelWindowEntry:prelight {
    background-color: @window_desc_bg_color;
}

PanelWindowEntry {
    background-color: @bg_color;
}

PanelWindowDescription GtkLabel {
    font-name: Times 50;
    color: #fefefe;
}
