#show-top  {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: transparent;
	right: 0px;
	top: 24px;
	border-bottom-left-radius:100%;
	z-index: -50;
}

#show-bottom  {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: transparent;
	right: 0px;
	bottom: 0px;
	border-top-left-radius:100%;
	z-index: -50;
}

#hide {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	right: 0px;
	top: 0px;
	z-index: -100;
}

#bevel {
	background: #111111;
	color: #aaa;
	height: 104%;
	width: 265px;
	overflow-x: hidden;
	overflow-y: auto;
	right: -266px;
	top: 0px;
	bottom:0px;
	position:absolute;
	z-index: 150;
	-webkit-transition: right 250ms ease-in-out;
}
/*#bevel:hover {
	right: 0px;
}*/

/* Sosmed */
#sosial_media {
	margin-top: 30px;
	padding: 2px 0;
	width:100%;
	height: 24px;
	color:#aaa;
	text-align:center;
	cursor:default;
	font-size: 14px;
	font-family:'Ubuntu Condensed';
}
.sosmed {
	padding-top: 0px;
	position: relative;
	width:100%;
	height:25px;
	text-align:center;
}
.sosmed a img {
	display:inline;
	width:18px;
	height:18px;
	padding: 6px 17px;
	background: #222;
	color: #aaa;
	cursor:pointer;
	border-radius: 3px;
	border: 1px solid #111;
}
.sosmed a:hover img {
	background-color: #444;
	-webkit-transition: all 0.2s ease-in-out;
}

/* Music Player */
#player, #control {
	margin-top: 10px;
	padding-top: 8px;
	color: #aaa;
	width:100%;
	height: auto;
	text-align:center;
	border-top: 1px solid #0a0a0a;
	font-size: 14px;
	font-family:'Ubuntu Condensed';
	cursor:default;
}
#buttons{
    margin-top:20px;
	width:auto;
	height: 34px;
	float:center;
}
#buttons #play img,
#buttons #pause img {
	position:absolute;
	width: 32px;
	height: 32px;
	margin-top:-31px;
	margin-left:-22px;
	padding: 5px;
	float:center;
	background: #333;
	border: 2px solid #111;
	border-radius:50px;
}
#buttons #prev img, #buttons #next img, #buttons #stop img, #buttons #repeat img {
	width: 18px;
	height: 18px;
	float:center;
}
#buttons #stop, #buttons #repeat {
	width: 18px;
	height: 18px;
	padding:5px;
	background: #333;
	border: 2px solid #111;
	border-radius: 20px;
}
#buttons #prev {
	width: auto;
	margin:0;
	padding: 5px 25px 5 10px;
	background: #333;
	border: 2px solid #111;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
#buttons #next {
	width: auto;
	padding: 5px 10px 5 25px;
	margin:0;
	background: #333;
	border: 2px solid #111;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
#buttons li {
	display: inline-block;
	text-decoration:none;
	margin: 0px;
	cursor: pointer;
}
#buttons #play img:hover, #buttons #pause img:hover, 
#buttons #prev:hover, #buttons #stop:hover, #buttons #repeat:hover, #buttons #next:hover {
	background-color: #444;
	-webkit-transition: all 0.2s ease-in-out;
}
#buttons .selected {
	background-color: #444;
	-webkit-transition: all 0.2s ease-in-out;
	-webkit-box-shadow: inset 0px 0px 1px 15px #492F2F;  /*#882626;*/
	border: 2px solid #000;
}

/* System setting */
#system_settings {
	margin-top: 0px;
	padding: 10px 0px 0px 0;
	background: transparent;
	color:aaa;
	height: 24px;
	text-align:center;
	cursor:default;
	border-top: 1px solid #0a0a0a;
}
.system {
	margin-top: 0px;
	margin-left: 3px;
	margin-bottom: 100px;
	padding: 5px 0px;
	background: transparent;
	width: auto;
	height: auto;
	text-align:center;
	overflow-y:hidden;
	border-bottom: 0px solid #0a0a0a;
}
.system img {
	width:28px;
	height:28px;
	margin-bottom: 5px;
	padding: 0px 5px;
	text-align:center;
}
.system span {
	font-family:'Ubuntu Condensed';
	font-size: 12px;
	color:#888;
	text-align:center;
}
.system li {
	text-decoration:none;
	display: inline-block;
	width: 55px;
	height: 45px;
	margin: 0px;
	padding: 5px 10px;
	text-align:center;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor:pointer;
	opacity: 0.85;
}
.system li:hover {
    background-color: #222;
	opacity: 1;
	color: #eee;
	-webkit-transition: all 0.2s ease-in-out;
}
#time {
	position: fixed;
	background: #1a1a1a;
	color: #bbb;
	bottom: 0px;
	padding: 5px 0 10px;
    cursor: default;
    text-align: center;
    border-top: 1px solid #0C0C0C;
}
#clock-time {
	width: 265px;
	height: 45px;
	font-family: 'TrendexLightSSi.ttf';
	display: block;
	font-size: 42px;
	letter-spacing: 0;
	text-shadow: 0 0px 2px #000;
}
#clock-date {
	font-size: 12px;
	font-family: 'Aurulent Sans';
	letter-spacing: 0;
	text-shadow: 0 0px 2px #000;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    background: rgba(191,191,191,0);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(191,191,191,0.04);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 0px;
    background: rgba(191,191,191,0.1)
}

/***********************************
 * Fonts Collections *
 * *********************************/
@font-face {
    font-family: 'TrendexLightSSi.ttf';
    src: url(../fonts/TrendexLightSSi.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Aurulent Sans';
    src: url(../fonts/AurulentSans-Regular.otf);
    font-weight: 600;
}
@font-face {
    font-family:'ClimaconsRegular';
    src: url('../fonts/climacons-webfont.eot');
    src: url('../fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/climacons-webfont.woff') format('woff'), url('../weather/fonts/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('../fonts/ubuntu.woff') format('woff');
}
