#sessions {
	width: 100%;
	height: auto;
	margin-top: 0;
	box-shadow: 0 1px 0px #000;
	background-color: #151515;
	text-align:center;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
li {
	display:inline-block;
    margin: 6px 8px;
    position: relative;
    left: 0px;
    text-align:center;
    border-radius: 50px;
}
li img {
	width: 22px;
	height: 22px;
	margin: -5px -5px 0px -11px;
	padding: 4px;
	cursor:pointer;
	border-radius: 50px;
	box-shadow: inset 0px 0px 50px #333;
	opacity: 0.8;
}
li:hover img {
	opacity:1;
}
li h2, li span {
	display:none;
	color: #bbb;
	padding: 4px;
}
li:hover span, li:hover h2 {
	content:"";
	display:block;
	position:fixed;
	font-family: Aurulent Sans;
	text-align:left;
	border-radius: 4px;
	left:10px;
}
li:hover h2 {
	margin: 35px 0 0;
	font-size:0.9em;
}
li:hover span {
	margin: 52px 0 0;
	font-size:0.8em;
}

/***********************************
 * Fonts Collections *
 * *********************************/

@font-face {
    font-family: 'TrendexLightSSi.ttf';
    src: url(../fonts/TrendexLightSSi.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Aurulent Sans';
    src: url(../fonts/AurulentSans-Regular.otf);
    font-weight: 600;
}
