body {
    overflow: hidden;
    -webkit-user-select: none;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    background-size: cover; 
    font-family: Cantarell, Sans-Serif;
    width: 100%;
    height: 100%;
}

#overlay {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 0px;
  width: 100%;
  height: 100%;

  background-color: transparent;
  background-size: cover; 
}

#bg {
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 0px;
  width: 100%;
  height: 100%;

  background-color: transparent;
  background-size: cover; 

}

#base {
  position: absolute;
  z-index: 3;
  left: 0px;
  width: 0px;
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
}

[draggable] {
    -webkit-user-select: none;
}

#launcher {
    background: rgba(41, 41, 41, 0.5);
    border-color: rgba(20, 20, 20, 0.8);
    border-style: solid;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    max-width: 98%;
    z-index: 1;
    -webkit-transition: max-height 5s ease-out;
    -webkit-box-align: center;
    box-shadow: 0px 0px 10px black;
}

.ui-launcher-entry-wrapper {
    display: inline-block; 
    width: 110px;
    max-height: 110px;
    margin: 0px 5px 0 5px;
    vertical-align: top;
    -webkit-box-align: center;
}

.ui-launcher-entry {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -webkit-box-align: center;

    cursor: pointer;
    text-align: center;
    z-index: inherit;
}

.ui-launcher-entry:hover {
}

.ui-launcher-entry span {
    white-space: nowrap;
    display: block;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    
    color: #ffffff;
    font-size: 14px;
    /*font-weight: bold;*/
    text-shadow: 0 2px 2px #000;
    width: 90%;
    height: 20px;
    
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}


.ui-launcher-entry-img-holder {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;

    margin-top: 5px;
    width: 70px;
    height: 70px;
}

.ui-launcher-entry img {
    width: 48px;
    height: 48px;
    -webkit-transition: all 70ms ease-out;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 10;
    border-width: 4px;
    border-color: rgba(204, 204, 204, 0.2);
    border-style: solid;
    border-radius: 18px;
    box-shadow: 0px 0px 10px #000;
}

.ui-launcher-entry img:hover {
    width: 60;
    height: 60;
    border-radius: 20px;

}

.ui-launcher-entry span:hover {
	text-shadow: 0 2px 2px #000;
}

.ui-bin-img {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-width: 4px;
    border-color: rgba(204, 204, 204, 0.8);
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 0px 10px #000;
    -webkit-transition: all 100ms ease-out;
}

.ui-bin-img.enter {
    width: 80px;
    height: 80px;
}

.ui-bin:hover {
    width: 120px;
    height: 120px;
} 

#base {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
}

.ui-bin {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-color: rgba(204, 204, 204, 0.8);
    border-style: solid;
    border-radius: 30px;
    opacity: 0;
    -webkit-transition: all 100ms ease-out;
    background-color: #FFFECC;
}

.ui-bin.enter {
    background-color: #FBF874;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(128,128,128,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


