body {
    overflow: hidden;
    -webkit-user-select: none;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

[draggable] {
      -webkit-user-select: none;
}

#idleScreen {
    z-index: 100;    
    width: 100%;
    height: 100%;
    background-color: #838383;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 500ms ease-out;
    opacity: 0;
}

#idleClock h1 {
    font-size: 80px;
    margin: 0px;
    color: white;
    font-weight: lighter;
    text-shadow: 0 1px 1px #222;
}

#idleClock h2{
    font-size: 35px;
    clear: both;
    color: white;
    margin: 0px;
    margin-top: -20px;
    font-weight: lighter;
    text-shadow: 0 1px 1px #222;
}

#idleClock {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
